/*

This is a development CSS file which is built to a minified
production stylesheet in assets/built/screen.css using gulp dev

*/


/* Lib - Local component imports
/* ---------------------------------------------------------- */
@import "vars.css";
@import "components/global.css";
@import "components/ghost.css";
@import "components/lists.css";
@import "components/grid.css";
@import "components/tables.css";
@import "components/forms.css";
@import "components/buttons.css";
@import "components/actions.css";
@import "components/hamburger.css";
@import "components/animations.css";

@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@1,700&display=swap');




/* Main - Theme styles
/* ---------------------------------------------------------- */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Muli', sans-serif;
    background: var(--color-primary-navy);
    transition: background 0.3s ease-out;
    transition-delay: 0.25;
}

.img {
    display: block;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    border-radius: 100%;
}

.hidden {
    visibility: hidden;
    position: absolute;
    text-indent: -9999px;
}


/* Layout
/* ---------------------------------------------------------- */

.site-wrapper {
    min-height: 100vh;
}
@media (max-width: 850px) {
    .site-wrapper {
        padding: 6vw;
    }
}

.page-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    max-width: 70%;
    margin: auto;
    text-align: center;
}

.error-head {
    height: 75vh;
}

.error-head h1 {
    margin: 0;
    font-size: 7rem;
    line-height: 1.1em;
    font-weight: var(--font-heavy);
    letter-spacing: 10px;
}

.error-head p {
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: color(var(--color-base) l(+50%));
}

.error-link {
    margin-top: 1rem;
    font-size: 1.5rem;
    text-decoration: underline;
}

.page-head-title {
    transition: transform 0.3s, opacity 0.3s; /* For smooth transition */
    font-size: 4rem;
    font-family: var(--font-sans-serif);
    font-weight: 900;
    color: var(--color-beige);
    margin: 0;
}
@media (max-width: 500px) {
    .page-head-title {
        font-size: 2rem;
    }
}

.page-head-description {
    margin: 0 0 1.6vw;
    color: color(var(--color-border) l(-20%));
    font-size: 2.2rem;
    line-height: 1.35em;
}
@media (max-width: 500px) {
    .page-head-description {
        font-size: 1.6rem;
    }
}

.site-main {
    background-color: #f8f8f8;
}
.site-main-home {
    background-color: var(--color-primary-navy);
}

.site-foot {
    margin: 3vw 0 1vw;
    text-align: center;
    color: color(var(--color-border) l(-20%));
    font-size: 1.4rem;
}

.site-foot a {
    color: var(--color-beige);
}


/* Site Navigation
/* ---------------------------------------------------------- */

.site-head {
    position: sticky;
    z-index: 300;
    padding: 1vw 3vw 1vw 3vw;
    font-size: 1.35rem;

}


.site-head-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-head-left {
    position: relative;
        z-index: 100;
    display: flex;
    align-items: center;
    margin-right: 10px;
    white-space: nowrap;
}

.nav {
    display: flex;
    margin: 0 0 0 -12px;
    padding: 0;
    list-style: none;
}

.site-head li {
    display: block;
    margin: 0;
    padding: 0;
}

.site-head-left a,
.site-head-right a {
    display: block;
    margin: 0;
    padding: 10px 12px;
    color: var(--color-beige);
    font-weight: 600;
    opacity: 0.4;
}

.nav-current a,
.site-head a:hover {
    text-decoration: none;
    opacity: 1;
}

.site-head-center {
    position: absolute; /* Position the title absolutely to ensure it stays center */
    left: 50%;
    transform: translateX(-50%); /* This will center the title */
    flex-grow: 0;
}

.site-head-logo {
    flex-shrink: 0;
    display: block;
    padding: 10px;
    color: var(--color-beige);
    font-size: 3.5rem;
    line-height: 1em;
    font-weight: 700; 
    /** text-transform: uppercase; **/
    letter-spacing: 1px;
    font-family: 'Lobster Two', 'Lobster', cursive; 
}

.site-head-logo:hover {
    color: #ffffff; /* Change color to white on hover */
}

/* For tablets and larger devices */
@media (max-width: 1200px) {
    .site-head-logo {
        font-size: 3rem;
    }
}

/* For small desktops and larger devices */
@media (max-width: 992px) {
    .site-head-logo {
        font-size: 2.5rem;
    }
}

/* For mobile devices */
@media (max-width: 768px) {
    .site-head-logo {
        font-size: 2rem;
    }
}


.site-head-logo:hover {
    text-decoration: none;
}

.site-head-logo img {
    display: block;
    margin-top: 2px;
    width: auto;
    height: 28px;
}

.site-head-right {
    position: relative;
        z-index: 100;
    flex-shrink: 0;
    display: flex;
    align-items: center;
}

.social-links {
    flex-shrink: 0;
    display: flex;
    align-items: center;
}

.subscribe-button {
    display: block;
    padding: 4px 10px;
    border: var(--color-base) 1px solid;
    color: var(--color-base);
    font-size: 1.2rem;
    line-height: 1em;
    border-radius: 10px;
    opacity: 0.8;
}

.subscribe-button:hover {
    text-decoration: none;
    opacity: 1;
}

.rss-button {
    opacity: 0.4;
}

.rss-button:hover {
    opacity: 1;
}

.rss-button svg {
    margin-bottom: 1px;
    height: 2.1rem;
    fill: var(--color-base);
}


/* Mobile Nav Menu
/* ---------------------------------------------------------- */

.nav-burger {
    display: none;
    position: absolute;
    left: 0;
    z-index: 9999;
    padding: 12px 12px 12px 0;
}

@media (max-width: 850px) {
    .site-head {
        padding: 0;
    }
    .nav-burger {
        display: block;
    }
    .site-head-container {
        flex-direction: column;
        justify-content: flex-start;
        height: 40px;
        background: rgba(255,255,255,0);
        z-index: -1;
        transition: all 0.4s ease-out;
        overflow: hidden;
    }
    .site-head-left,
    .site-head-right {
        position: relative;
        z-index: -1;
        height: auto;
        transition: height 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        transition-delay: 1s;
    }
    .site-head-left a,
    .site-head-right a {
        margin: 8px 0;
        padding: 1px 0;
        font-size: 2.6rem;
        line-height: 1.15em;
        font-weight: 200;
        opacity: 0;
        transition: transform 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99),
        opacity 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        transform: scale(1.1) translateY(-25px);
    }
    .site-head-right a {
        padding: 5px 0;
        margin: 1px 0;
        font-size: 2rem;
    }
    .nav {
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 3vw 0 0 0;
    }
    .site-head-left {
        order: 2;
        margin: 0;
        width: 100%;
    }
    .site-head-center {
        order: 1;
        position: static;
        z-index: auto;
        display: flex;
        justify-content: center;
        opacity: 0;
    }
    .site-head-right {
        order: 3;
        width: 100%;
        margin-top: 3vw;
    }
    .social-links {
        flex-direction: column;
        align-items: flex-start;
    }

    .site-head-open {
        background: rgba(255,255,255,1);
        transition: background 0.5s ease-out;
        transition-delay: 0.25;
        overflow: hidden;
        height: 100vh;
    }

    .site-head-open .site-head-container {
        height: 100vh;
        transition: height 0.2s ease-in;
    }

    .site-head-open .site-head-left,
    .site-head-open .site-head-right {
        z-index: 9999;
        height: auto;
        transition: height 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    }

    .site-head-open .site-head-left a,
    .site-head-open .site-head-right a {
        opacity: 1;
        transition: transform 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99),
        opacity 0.9s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        transform: scale(1) translateY(0px);
    }
    .site-head-open .nav-current a {
        border-bottom: var(--color-base) 2px solid;
    }
    .site-head-open .site-head-right a {
        opacity: 0.5;
    }
    .site-head-open .site-foot {
        display: block;
        position: fixed;
        z-index: 9999;
        bottom: 0;
        transition: transform 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        transform: translateY(-4vw);
    }

}




.post-feed {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px; /* Space between rows and columns */
    padding-top: 5vh;
    padding-left: 30vh;
    padding-right: 30vh;
  }

  /* For mobile devices */
@media (max-width: 768px) {
    .post-feed {
      padding-left: 10px; /* Reduced padding for smaller screens */
      padding-right: 10px;
    }
  }
  
  .post-card {
    margin: 15px;
    border-radius: 16px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border: 2px solid var(--color-beige); /* Example: 2px solid border */
    flex-basis: calc(33% - 5vw); /* Adjust width of each card, subtracting the gap */
    width: 25vw; /* Ensures card doesn't grow beyond its portion */
    height: 50vh;
    margin-bottom: 5vh; /* Space at the bottom of each card */
    transition: box-shadow 0.3s ease; /* Smooth transition for the shadow */
    background-color: var(--color-primary);
}
/* For mobile devices */
@media (max-width: 768px) {
    .post-card {
      flex-basis: auto; /* Let the card take the available space */
      width: auto; /* Adjust width to fit the container */
    }
  }


.post-card:hover {
  box-shadow: 0 16px 32px rgba(0, 4, 43, 0.605); /* Enhanced shadow on hover */
}

  
  .post-card-image {
    height: auto;
    overflow: hidden; /* To handle cases where image is larger than the container */
  }
  
  .post-card-image img {
    height: 100%;
    object-fit: cover; /* Maintains the aspect ratio and covers the container */
  }
  
  .post-card-details {
    flex: 1;
    margin: 3vh;
  }
  
  .post-card-title {
    font-size: 1.5em; /* Adjust the font size as per your design */
    font-weight: bold;
    text-align: center;
    font-family: var(--font-sans-serif);
    font-weight: 900;
    color: var(--color-beige);
    margin-bottom: 1vh;
    margin-top: 0;
  }
  
  .post-card-description {
    font-size: 1em; /* Adjust the font size as per your design */
    color: var(--color-beige); /* Adjust the color as per your design */
    text-align: center;
    overflow: hidden;
  }


/* Post Content
/* ---------------------------------------------------------- */

.post-content {
    max-width: 720px;
    margin: 0 auto;
    padding: 6vw 0;
}

.post-content-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-content-title {
    margin: 0 0 3vw;
    color: var(--color-base);
    text-align: center;
}

.post-content-excerpt {
    margin: -2vw 0 1vw;
    font-size: 2.2rem;
    line-height: 1.6em;
    color: var(--color-base);
    text-align: center;
    opacity: 0.5;
}
@media (max-width: 500px) {
    .post-content-excerpt {
        font-size: 1.8rem;
    }
}

.post-content-image {
    position: relative;
    width: 100vw;
    min-width: 100%;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    transform: translateX(calc(50vw - 50%));
}

.post-content-body {
    font-size: 1.9rem;
    line-height: 1.65em;
}
@media (max-width: 500px) {
    .post-content-body {
        font-size: 1.7rem;
    }
}

.post-content-body h1,
.post-content-body h2,
.post-content-body h3,
.post-content-body h4,
.post-content-body h5,
.post-content-body h6 {
    color: var(--color-base);
}

.post-content-body li {
    word-break: break-word;
}

.post-content-body li p {
    margin: 0;
}

.post-content-body iframe {
    margin: 0 auto !important;
}

.post-content-body blockquote {
    margin: 0 0 1.5em;
    padding: 0 1.5em;
    border-left: #3eb0ef 3px solid;
}

.post-content-body blockquote p {
    margin: 0 0 1em 0;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    font-style: italic;
}

.post-content-body blockquote p:last-child {
    margin-bottom: 0;
}

.post-content-body code {
    padding: 0 5px 2px;
    font-size: 0.8em;
    line-height: 1em;
    font-weight: 400!important;
    background: var(--color-bg);
    border-radius: 3px;
}

.post-content-body p code {
    word-break: break-all;
}

.post-content-body pre {
    overflow-x: auto;
    margin: 1.5em 0 3em;
    padding: 20px;
    max-width: 100%;
    border: color(var(--color-base) l(-10%)) 1px solid;
    color: var(--color-bg);
    font-size: 1.4rem;
    line-height: 1.5em;
    background: color(var(--color-base) l(-3%));
    border-radius: 5px;
}

.post-content-body pre code {
    padding: 0;
    font-size: inherit;
    line-height: inherit;
    background: transparent;
}

.post-content-body pre code :not(span) {
    color: inherit;
}

.post-content-body .fluid-width-video-wrapper {
    margin: 1.5em 0 3em;
}

.post-content-body hr {
    margin: 4vw 0;
}

.post-content-body hr:after {
    content: "";
    position: absolute;
    top: -15px;
    left: 50%;
    display: block;
    margin-left: -10px;
    width: 1px;
    height: 30px;
    background: color(var(--color-border) l(+10%));
    box-shadow: #fff 0 0 0 5px;
    transform: rotate(45deg);
}

.post-content-body img {
    /* styles go here */
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

.footnotes-sep {
    margin-bottom: 30px;
}

.footnotes {
    font-size: 1.5rem;
}

.footnotes p {
    margin: 0;
}

.footnote-backref {
    color: var(--color-primary) !important;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none !important;
    box-shadow: none !important;
}

/* Author Archive
/* ---------------------------------------------------------- */

.author-meta {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    color: color(var(--color-border) l(-20%));
}

.author-links {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.author-links a {
    display: block;
    margin: 0;
    padding: 0 12px;
    color: var(--color-base);
    opacity: 0.4;
}

.author-links a:hover {
    text-decoration: none;
    opacity: 1;
}

.author-links .divider {
    display: inline-block;
    margin: 0 3px;
}

/* Page Template
/* ---------------------------------------------------------- */

.page-template .post-content-body h1,
.page-template .post-content-body h2,
.page-template .post-content-body h3 {
    text-align: center;
}



.tags-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 3vw;
  }

  .gatsby-resp-image-figure {
    margin: 0 !important; /* Replace 'desired-value' with your desired margin */
    padding: 0 !important;
  }

  .gatsby-resp-image-wrapper {
    margin: 1em !important;
  }

  .post-content-body p {
    margin: 0 0 1.2em 0;
  }

  .profile-container {
    display: flex;
    justify-content: center;  /* centers children horizontally */
    align-items: center;      /* centers children vertically */           /* takes the full viewport height */
  }
  
  .mini-list li {
    font-size: 0.6em; /* Adjust as per your requirement */
}

.signature {
    font-family: 'Lobster', cursive;
    font-size: 48px;
    text-align: left;
    margin-top: 2vh;
 }

 /* Initially hide the banner */
.mobile-banner {
    display: none;
    background-color: #f2f2f2; /* or any color you prefer */
    color: #333; /* Text color */
    text-align: center;
    padding: 10px;
    align-items: center;
    border-radius: 32px;
  }
  
  .maintenance-svg {
    width: 50px; /* Adjust as needed */
    height: auto;
    margin-right: 10px;
  }
  
  .banner-text {
    text-align: left; /* Align text to the left */
  }

  .banner-text h2 {
    font-size: 1.8rem; /* Adjust as needed */
    margin: 0;
  }
  
  .banner-text p {
    font-size: 1.1rem;
    margin: 0;
  }
  
  /* Show the banner on mobile devices */
  @media (max-width: 768px) {
    .mobile-banner {
      display: flex;
    }
  }
  

 .hero {
    display: flex;
    flex-direction: column;  /* Stack children vertically */  /* Center children vertically */
    padding-top: 10vh;
    align-items: center;  /* Center children horizontally */
    justify-content:space-evenly;
    height: 80vh; 
    width: 100vw;
    position: relative; 
    overflow: hidden; 

}@media (max-width: 850px) {
    .hero {
        margin-left: -6vw;
    }
}

.herocontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  /* Center children vertically */
    width:100vw;
    padding-top: 5vh;
    padding-left: 20vh;
    padding-right: 20vh;
    

}
/* Adjustments for mobile devices */
@media (max-width: 768px) {
    .herocontent {
        padding-left: 5vw; /* Reduced padding for smaller screens */
        padding-right: 5vw;
    }
}

.hero-image {
    width: 20%; /* This will make the image a third of its container's width */
    height: auto;
    display: block; /* This will remove any default margins/paddings around the image */
    border-radius: 16px;
    
}

.hero h1 {
    font-size: 12rem;
    color: var(--color-beige);
}
.hero-text {
    transition: transform 0.3s, opacity 0.3s; /* For smooth transition */
    font-size: 5rem;
    font-family: 'Lobster Two', cursive; 
    font-style: italic;
    font-weight: 700;
    color: var(--color-beige);
    opacity: 1;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 1vh;
}

.hero-subtext {
    font-family: 'Montserrat', sans-serif;
    width: 60vw;
    font-size: 2.2rem;
    color: var(--color-beige);
    font-weight:400;
    text-align: center;
    margin-top: 3vh;
    line-height: 150%;
}

/* Adjustments for mobile devices */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 5rem; /* Smaller font size for mobile */
    }

    .hero-text {
        font-size: 2.5rem; /* Adjusted for mobile */
    }

    .hero-subtext {
        font-size: 1.5rem; /* Adjusted for mobile */
        width: 90%; /* Optional: Adjust width if needed */
    }
}

.hero-divider {
    transition: transform 0.3s, opacity 0.3s;
    display: flex;
    align-items: center;
    width: 100%;
    margin-top:10vh;
    margin-bottom: 10vh;

  }
  
  .hero-line {
    transition: transform 0.3s, opacity 0.3s;
    flex: 1; /* Makes lines take up available space */
    height: 2px; /* Adjust as per your design */
    background-color: var(--color-beige); /* Your line color */
    opacity: 50%;
    margin-left: 20vw;
    margin-right: 20vw;
  }

  
 /* Existing styles for .hero-divider-svg */
.hero-divider-svg {
    transition: transform 0.3s, opacity 0.3s;
    width: 15vw;
    margin: 0 20px; /* Spacing around the SVG */
}

@keyframes grow {
    from {
      transform: scale(0);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .hero-divider-svg path {
    opacity: 0;
    transform-origin: bottom;
  }

  /* Apply the animation to each vector with increasing delay */
  .hero-divider-svg #Vector {
    animation: grow 0.5s ease forwards;
    animation-delay: 0s;
    /*circle1*/
  }
  
  .hero-divider-svg #Vector_2 {
    animation: grow 0.5s ease forwards;
    animation-delay: 0.3s;
    /*bar1*/
  }
  
  .hero-divider-svg #Vector_3 {
    animation: grow 0.5s ease forwards;
    animation-delay: 0.4s;
    /*bar2*/
  }
  
  .hero-divider-svg #Vector_4 {
    animation: grow 0.5s ease forwards;
    animation-delay: 0.5s;
    /*bar3*/
  }
  
  .hero-divider-svg #Vector_5 {
    animation: grow 0.5s ease forwards;
    animation-delay: 0.1s;
    /*circle2*/
  }
  
  .hero-divider-svg #Vector_6 {
    animation: grow 0.5s ease forwards;
    animation-delay: 0.6s;
    /*pentop*/
  }
  
  .hero-divider-svg #Vector_7 {
    animation: grow 0.5s ease forwards;
    animation-delay: 0.7s;
    /*penbot*/
  }
  
  .hero-divider-svg #Vector_8 {
    animation: grow 0.5s ease forwards;
    animation-delay: 0.2s;
    /*circle3*/
  }
  
  .hero-divider-svg #Vector_9 {
    animation: grow 0.5s ease forwards;
    animation-delay: 0.8s;
  }
  
  .hero-divider-svg #Vector_10 {
    animation: grow 0.5s ease forwards;
    animation-delay: 0.9s;
  }
  
  .hero-divider-svg #Vector_11 {
    animation: grow 0.5s ease forwards;
    animation-delay: 1.0s;
  }
  
  .hero-divider-svg #Vector_12 {
    animation: grow 0.5s ease forwards;
    animation-delay: 1.1s;
  }
  
  .hero-divider-svg #Vector_13 {
    animation: grow 0.5s ease forwards;
    animation-delay: 1.2s;
  }
  
  


.view-work-link {
    text-align: center;
    margin-top: 20vh; /* Adjust as necessary */
}

.view-work-link a {
    color: #ffffff; /* Or whatever color you prefer */
    border-bottom: 1px solid currentColor; /* simulates an underline */
    text-decoration: none;
    transition: all 1s;
    font-size: 16px; /* Adjust size as necessary */
    display: inline-flex;
    align-items: center;
}

.view-work-link a:hover {
    color:#1d253c;
    border-color: transparent;

}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.tag {
    background-color: #343b51;
    color: #fff;
    font-family: 'Muli';
    border-radius: 64px;
    padding: 5px 20px;
    font-size: 12px;
}


.back-to-top {
    opacity: 0; /* Initially, the button is completely transparent */
    transition: opacity 1s ease-in-out;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;           /* Initially hidden */
    padding: 0 8px ;              /* Removed padding, since we're using width and height for sizing */
    height: auto;
    width: auto;
    border: none;
    border-color: #343b51;
    background-color: #fff;  /* Background color */
    color: #333;             /* Color of the emoji, changed to a darker color for contrast */
    border-radius: 16px;      /* Makes it a circle */
    text-align: center;      /* Center the emoji horizontally */
    line-height: 50px;       /* Center the emoji vertically */
    cursor: pointer;
    z-index: 1000;           /* Keep the button above other elements */
    transition: 0.3s;        /* Optional: For smooth hover effects */
}

.back-to-top:hover {
    background-color: #eee;   /* Slightly lighter color on hover */
}


.live-projects{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10vh;
    padding-bottom: 10vh;

}
.colorless-div{
    display: flex;
    justify-content: center; 
    padding-top: 10vh;
    padding-left: 30vh;
    padding-right: 30vh;
    height: 20vh;
    width: 60vw;
    border-radius: 16px;
    
    background-image: url('/colorless-photo.png'); /* Path to your image */
    background-size: cover;   /* Cover the entire div */
    background-position: center; /* Center the image in the div */
    transition: background-color 0.3s ease, transform 0.3s ease;
    transition: box-shadow 0.3s ease, transform 0.3s ease;

}
.colorless-div:hover {
    box-shadow: 0 16px 32px rgba(0, 4, 43, 0.605); /* Enhanced shadow on hover */
    transform: scale(1.01); /* Example property to change */
  }
